@import url('https://cdn.jsdelivr.net/npm/modern-normalize/modern-normalize.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400..600&display=swap');

body {
  margin: 16px;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #2e2f42;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.04em;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

input {
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding: 8px 16px;
  outline: transparent;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  color: inherit;
  border: 1px solid #808080;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  appearance: textfield;
}

input:hover,
input:focus {
  border-color: #000000;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  max-width: fit-content;
  height: 40px;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  background-color: #4e75ff;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}

button:hover,
button:focus {
  background-color: #6c8cff;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
}

/* Task 1 Styles */
#categories {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  background-color: #f6f6fe;
  border-radius: 8px;
  padding: 24px;
  width: 440px;
  margin-bottom: 24px;
}

.item > h2 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 10px;
}

.item > ul {
  list-style: none;
  padding: 0;
}

.item > ul > li {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 360px;
  height: 40px;
  padding: 10px;
  margin-bottom: 5px;
  transition: background-color 0.3s ease;
}

.item > ul > li:hover {
  background-color: #e0e7ff;
}

/* Task 2 Styles */
.gallery {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  width: 1440px;
  padding: 100px 156px;
  background-color: #ffffff;
  max-width: 1200px;
  margin: 0 auto;
  overflow-x: hidden;
}

.gallery li {
  flex: 0 1 calc(33.333% - 16px);
  list-style: none;
}

.gallery img {
  width: 360px;
  height: 300px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.gallery img:hover {
  transform: scale(1.05);
}

/* Task-3 */
#name-input {
  margin-top: 24px;
  margin-bottom: 24px;
}

/* Task-4 */
.login-form {
  width: 360px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  padding: 24px;
  width: 408px;
  height: 256px;
  background-color: #ffffff;
}

.login-form input {
  margin-top: 8px;
}

.login-form > button {
  margin-top: 16px;
}

/* Task-5 */
.widget {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 345px;
  height: 280px;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

.change-color {
  margin-top: 16px;
}

/* Task-6 */
#controls {
  display: flex;
  gap: 16px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  margin-bottom: 16px;
  border-radius: 8px;
  padding: 32px;
  width: 486px;
  height: 104px;
  justify-content: center;
  background-color: #f6f6fe;
}

#boxes {
  display: flex;
  gap: 44px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 486px;
  max-width: fit-content;
  border-radius: 8px;
  padding: 32px;
  background-color: #f6f6fe;
}

#controls > input {
  border-radius: 8px;
  width: 150px;
  text-align: center;
}

#controls > button {
  width: 120px;
  max-width: none;
}

#controls > button[data-destroy] {
  background-color: #ff4e4e;
}

#controls > button[data-destroy]:hover,
#controls > button[data-destroy]:focus {
  background-color: #ff7070;
}
